body {
  max-width:800px;
  margin: 0 auto;
  padding: 10px;
  background-color: black;
}

.main {
  height: 500px;
  background-color: #ECFDF5 ;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}

.content {
  padding-left: 3rem;
}

#main-title {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 3px;
}

.highlighted {
  color: #10B981
}

#secondary-title {
  margin: 0;
  color: gray;
  font-family: sans-serif;
  font-weight: 200;
  padding-bottom: 3rem;
}

#main-button {
  border: none;
  padding: 0.7rem;
  background-color: #10B981;
  color: white;
  border-radius: 0.3rem;
}

.div-with-line {
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  margin: 10px auto;
}

#main-passwords {
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  
}

#password-one, #password-two{
  background-color: #273549;
  padding: 0.7rem;
  color: #10B981;
  width: 10rem;
  height: 1rem;
  border-radius: 0.3rem;
}
